.header
{
    width: 100%;
    height: 220px;
    background-color: #12438E;
    position: relative;
}
.header .img
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.3;
}
.Heading
{
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    color: #fff;
    font-weight: 200;
}

