.loader {
    position: relative;
    width: 200px;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid #d3d3d3;
    background-color: #e3e3e3;
    overflow: hidden;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(110deg, rgba(227, 227, 227, 0) 0%, rgba(227, 227, 227, 0) 40%, rgba(227, 227, 227, 0.5) 50%, rgba(227, 227, 227, 0) 60%, rgba(227, 227, 227, 0) 100%);
    animation: gradient-animation_2 1.2s linear infinite;
  }
  
  .loader .wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .loader .wrapper > div {
    background-color: #cacaca;
  }
  
  .loader .circle {
    width: 100%;
    height: 100%;
  }
  
  @keyframes gradient-animation_2 {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(100%);
    }
  }