.Wrapper
{
    padding: 50px;
    width: 100%;
}
.CardsHeader
{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.CardsHeader h2
{
    font-size: 2em;
    font-weight:300;
}

  .MoviesCardsSection
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, minmax(180px,200px));
    gap: 10px;
}

.MovieCard
{
    width: 180px;
}
.MovieCard .imgBox
{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #ddd;
    box-shadow: 2px 2px 10px  #ccc,
                -2px -2px 10px  #ccc;
                cursor: pointer;
}
.MovieCard .imgBox img,
.MovieCard .imgBox .img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.MovieCard .imgBox:hover .PLayBtnIcon
{
    display: block;
    transition: 0.3s;
}
.PLayBtnIcon
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f70;
    display: none;
    transition: 0.3s;
}
.PLayBtnIcon span
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 2em;
    background-color: #2671e1;
    border-radius: 50%;
    transition: 0.3s;
}
.MovieResult
{
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    mix-blend-mode: difference;
    width: 30px;
    height: 20px;
    color: #000;
    font-weight: 600;
    text-align: center;
    border-radius: 4px;
}
.MovieInfo h4
{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.MovieInfo .bar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}
.MovieInfo .type
{
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #000;
    font-size: 13px;
    text-transform: capitalize;
}



.PaginationWrapper
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.PaginationWrapper .leftBtn,
.PaginationWrapper .rightBtn
{
    width: 35px;
    height: 35px;
    font-size: 1em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
}
.PaginationWrapper .leftBtn:hover,
.PaginationWrapper .rightBtn:hover
{
    background-color: #2671e1;
    color: #fff;
}



@media only screen and (max-width:1215px)
{
    .Wrapper
    {
        padding: 0 30px;
    }
    .MoviesCardsSection
    {
        grid-template-columns: repeat(auto-fit, minmax(180px,1fr));
        place-items: center;
    }
}