.MiniFieldBox
{
    width: 200px;
    height: 40px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    overflow: hidden;
    background-color: #fff;
}
.MiniFieldBox input
{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 10px;
    font-size: 1em;
    background-color: transparent;
}
