.detailWrapper
{
    background-color: #FAFAFA;
}
.backdropContainer
{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #6B6B6B;
    /* padding: 20px 100px; */
}

.backdropContainer .backdropImg
{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.DetailContainerWrapper
{
    position: absolute;
    bottom: -250px;
    width: 100%;
    /* height: 400px; */
    padding: 0 100px;
}





@media only screen and (max-width:1215px)
{
    .DetailContainerWrapper
    {
        padding: 0 30px;
    }
}

